﻿@{
  ViewBag.Title = "Home Page";
}

@section scripts {
  <script src="/Scripts/WeatherSample.js"></script>
}

<div class="jumbotron">
  <p class="large last">This form will run a machine learning algorithm against forecasted weather and historic carrier performance data to generate a prediction of the risk of a package failing to meet the carriers scheduled delivery date and/or time. The algorithm will also predict the major cities the package will flow through.</p>
</div>

<div class="row">

  <form class="form" id="form-contact" name="form-contact">
    <ul>
      <li class="required half first">
        <label>Api Key</label>
        <input type="text" class="" id="txt-apikey" name="apikey" data-parsley-required="true" style="width: 500px;max-width:500px!important" />
      </li>
      <li class="required half first">
        <label>Carrier</label>
        <select class="" id="txt-carrier" name="carrier" data-parsley-required="true">
          <option value="FEDEX">Fedex</option>
          <option value="UPS">UPS</option>
        </select>
      </li>
      <li class="half">
        <label>Service</label>
        <select class="" id="txt-service" name="service" data-parsley-required="true">
          <option data-carrier="FEDEX" value="FEDEX_FIRST">First Day</option>
          <option data-carrier="FEDEX" value="FEDEX_PRIORITY">Priority</option>
          <option data-carrier="FEDEX" value="FEDEX_STANDARD">Standard</option>
          <option data-carrier="FEDEX" value="FEDEX_TWO_DAY_AM">Two Day AM</option>
          <option data-carrier="FEDEX" value="FEDEX_TWO_DAY">Two Day</option>
          <option data-carrier="FEDEX" value="FEDEX_EXPRESS_SAVER">Express Saver</option>
          <option data-carrier="UPS" value="UPS_NEXT_DAY_EARLY">Next Day Early</option>
          <option data-carrier="UPS" value="UPS_NEXT_DAY">Next Day</option>
          <option data-carrier="UPS" value="UPS_NEXT_DAY_SAVER">Next Day Saver</option>
          <option data-carrier="UPS" value="UPS_TWO_DAY_AM">Two Day AM</option>
          <option data-carrier="UPS" value="UPS_TWO_DAY">Two Day</option>
          <option data-carrier="UPS" value="UPS_THREE_DAY">Three Day</option>
        </select>
      </li>
      <li class="required half first">
        <label>Origin Zip</label>
        <input type="text" class="" id="txt-ziporigin" name="ziporigin" data-parsley-required="true"/>
      </li>
      <li class="required half">
        <label>Destination Zip</label>
        <input type="text" class="" id="txt-zipdest" name="zipdest" data-parsley-required="true"/>
      </li>
      <li class="required half">
        <label>Ship Date</label>
        <select class="" id="txt-shipdate" name="shipdate" data-parsley-required="true">
          <option value="@DateTime.Now.Date">Today</option>
          <option value="@DateTime.Now.AddDays(1).Date">Tomorrow</option>
          <option value="@DateTime.Now.AddDays(2).Date">In 2 Days</option>
        </select>
      </li>
      <li class="cta full">
        <button type="button" id="btn-send" class="btn centered green medium">
          <b>Send</b>
        </button>
      </li>
    </ul>
  </form>

  <hr/>

  <pre id="weather-response"></pre>

</div>